body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
}
.container {
    width: 1200px;
    margin: 0 auto;


}

.head {
   
    padding: 20px;
    display: flex;
    justify-content: space-between;

    nav {
        display: flex;
        gap: 10px;
        align-items: center;
        a {
            text-decoration: none;
            color: black;
            font-family: Gilroy;
            font-size: 16px;
            font-weight: 500;
            line-height: 19.41px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            transition: .5s ease;

        }
        a:hover{
            color:rgb(50, 50, 245) ;
            text-shadow: 5px 3px 4px  blueviolet;
        }
    }

    .user_data {
       
        display: flex;
        gap: 15px;
        align-items: center;

        h2 {
            font-family: Gilroy;
            font-size: 16px;
            font-weight: 500;
            line-height: 19.41px;
            text-align: right;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            cursor: pointer;
            transition: .4s;

        }
        h2:hover{
            color:rgb(50, 50, 245) ;
            text-shadow: 5px 3px 4px  blueviolet;
        }
        img{
            transition: .4s ease;

        }
        img:hover{
            text-shadow: 5px 3px 4px  blueviolet;
            transform: scale(1.2);
            
        }

    }

}

.container {
    width: 1100px;
    margin: 0 auto;
}

.welcome {
    padding-top: 44px;
    font-size: 48px;
    font-weight: 700;
    line-height: 59.42px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000;
    padding-bottom: 11px;
}

.my_wallet {
    font-size: 2rem;
    color: #000;
    text-align: left;
}

.my_gmail {
    font-size: 18px;
    font-weight: 700;
    line-height: 22.28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0073e6;
    text-decoration: none;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {

    width: 282px;
    height: 160px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(84.37deg, #D7816A 2.27%, #BD4F6C 92.26%);
    border-radius: 15px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.card:nth-child(2) {
    background: linear-gradient(84.37deg, #5F0A87 2.27%, #A4508B 92.26%);
}

.card:nth-child(3) {
    background: linear-gradient(84.37deg, #20BF55 2.27%, #01BAEF 92.26%);
}

.card:nth-child(4) {
    background: linear-gradient(84.37deg, #380036 2.27%, #0CBABA 92.26%);
}

.card p {
    margin-bottom: 19px;
    padding-left: 23px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.33px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.card h2 {
    padding-left: 23px;
    padding-bottom: 68px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.11px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.view-all {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.6px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-decoration: none;
    color: #0047FF;
    padding-bottom: 74px;
}

.table-container {
    max-width: 1200px;
    margin: 0 auto;
}

.table_h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #000000;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    text-align: left;
    padding: 12px 16px;
    font-size: 14px;
}

th {
    color: #9a9a9a;
    font-weight: 400;
    border-bottom: 1px solid #e5e5e5;
}

td {
    border-bottom: 1px solid #f0f0f0;
    color: #000000;
}

tbody tr:last-child td {
    border-bottom: none;
}

.footer-link {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
    padding-bottom: 200px;
}

.footer-link:hover {
    text-decoration: underline;
}

.create h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 59.42px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000;
}

form {
    margin-bottom: 100px;
    margin-top: 100px;
    text-align: center;
}

.inp {
    width: 250px;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 10px;
    text-align: left;
    padding-left: 25px;
    margin: 10px;
}