* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    margin: 50px auto;

    .head_div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }
}
.gmail {
    font-size: 18px;
    font-weight: 700;
    line-height: 22.28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0073e6;
    text-decoration: none;
    padding-bottom: 1011px;
}


.add {
    width: 438px;
    height: 56px;
    border: 0;
    background-color: #0047FF;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-top: 44px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}